<footer>
    <div class="redes-sociales">
        <a href="https://wa.me/573053357403" target="_blank">
            <i class="fab fa-whatsapp"></i>
        </a>
        <a href="https://instagram.com/" target="_blank">
            <i class="fab fa-instagram"></i> 
        </a>
        <a href="https://facebook.com/" target="_blank">
            <i class="fab fa-facebook"></i>
        </a>
    </div>
    <nav class="menu-footer">
        <ul>
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="../pages/productos.html">Productos</a></li>
            <li><a href="../pages/FAQ.html">FAQ</a></li>
            <li><a href="../pages/nosotros.html">Nosotros</a></li>
            <li><a href="../pages/testimonio.html">Testimonio</a></li>
        </ul>
    </nav>
    <div>
        <p>Realizado por Juliana</p>
    </div>
</footer>
