<!-- Este archivo es el pie de página del sitio web -->
<!-- Contiene enlaces a redes sociales, un menú de navegación y un mensaje de copyright -->

<footer>
    <!-- Sección de enlaces a redes sociales -->
    <div class="redes-sociales">
        <!-- Enlace a WhatsApp -->
        <a href="https://wa.me/573053357403" target="_blank">
            <i class="fab fa-whatsapp"></i>
        </a>
        <!-- Enlace a Instagram -->
        <a href="https://instagram.com/" target="_blank">
            <i class="fab fa-instagram"></i> 
        </a>
        <!-- Enlace a Facebook -->
        <a href="https://facebook.com/" target="_blank">
            <i class="fab fa-facebook"></i>
        </a>
    </div>
    <!-- Menú de navegación en el pie de página -->
    <nav class="menu-footer">
        <ul>
            <!-- Enlace a la página de inicio -->
            <li><a href="../ACAProgramacionWeb/">Inicio</a></li>
            <!-- Enlace a la página de productos -->
            <li><a href="../ACAProgramacionWeb/pages/productos.html">Productos</a></li>
            <!-- Enlace a la página de preguntas frecuentes -->
            <li><a href="../ACAProgramacionWeb/pages/FAQ.html">FAQ</a></li>
            <!-- Enlace a la página sobre nosotros -->
            <li><a href="../ACAProgramacionWeb/pages/nosotros.html">Nosotros</a></li>
            <!-- Enlace a la página de testimonios -->
            <li><a href="../ACAProgramacionWeb/pages/testimonio.html">Testimonio</a></li>
        </ul>
    </nav>
    <!-- Mensaje de copyright -->
    <div>
        <p>Realizado por Juliana</p>
    </div>
</footer>
