<!-- Este archivo es el menú de navegación del sitio web -->
<!-- Contiene enlaces a las diferentes páginas del sitio web -->
<nav class="menu">
    <!-- Lista de enlaces de navegación -->
    <ul>
      <!-- Enlace a la página de inicio -->
      <li><a href="../ACAProgramacionWeb/">Inicio</a></li>
      <!-- Enlace a la página de productos -->
      <li><a href="../ACAProgramacionWeb/pages/productos.html">Productos</a></li>
      <!-- Enlace a la página de preguntas frecuentes -->
      <li><a href="../ACAProgramacionWeb/pages/FAQ.html">FAQ</a></li>
      <!-- Enlace a la página sobre nosotros -->
      <li><a href="../ACAProgramacionWeb/pages/nosotros.html">Sobre Nosotros</a></li>
      <!-- Enlace a la página de testimonios -->
      <li><a href="../ACAProgramacionWeb/pages/testimonio.html">Testimonio</a></li>
    </ul>
</nav>